services:
  database:
    image: "postgres:18.0-alpine3.22"
    env_file:
      - .env
    ports:
      - "5432:5432"
    volumes:
      - pgdata:/var/lib/postgresql/data

  app:
    build: .
    ports:
      - "8080:80"
    volumes:
      - ./src:/var/www/html
    env_file:
      - .env
    depends_on:
      - database

volumes:
  pgdata:
